<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.Pray4One.Utilities.Reporting" />
    </listeners>

    <test  name="Pray4OneAutomation">
       <classes>
           <class name="com.Pray4One.TestCases.IntegrationTest1"/>
       </classes>
    </test>
</suite>